
<div class="profile-page " style="padding: 20px">
  <div class="user-info" style="background-color: transparent;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 z-depth-2 text-center" style="background: url('https://orig00.deviantart.net/a2f1/f/2008/073/8/a/pattern_wallpaper_by_invaderjohn.jpg')">

          <img src="{{fotoUsuario}}" class="rounded-circle" alt="Foto usuario" style="margin-top: 20px;width: 15%" />
          <h4 style="color: white;font-weight: bold;margin-top: 10px">{{ nombreUsuario }}</h4>
          <h5 style="margin-bottom: 20px;color: white">{{ emailUsuario }}</h5>
        </div>

      </div>
    </div>
  </div>




  <div class="container" style="padding: 10px">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" style="border-bottom: 1px solid; color:red;margin-bottom: 10px;" *ngIf="isAdmin">
                Todos los productos
              </a>
              <a class="nav-link" style="border-bottom: 1px solid;color:red;margin-bottom: 10px;" *ngIf="!isAdmin">
                Mis productos
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-10 offset-md-1 z-depth-1" style="background-color: gainsboro;text-align: center">
      <div class="columns is-marginless" *ngIf="!hasProducts && !isAdmin">
        <div class="column is-12">
          <div class="box">
            <div class="section">
              <p class="has-text-centered">
                <span class="icon"><i class="fa fa-4x fa-exclamation-circle" aria-hidden="true"></i></span>
              </p>
              <p class="heading is-size-6 has-text-centered">No tienes productos</p>
            </div>
          </div>
        </div>
      </div>


        <div class="row">

          <div class="col-lg-3 col-md-6 mb-4" *ngFor="let producto of productos" style="padding: 20px;">
          <ng-container *ngIf="idUsuarioLogueado == producto.userId || isAdmin">
              <strong class="mb-5 text-primary">
                <span class="badge badge-pill badge-dark">{{producto.categoria}}</span>
              </strong>
              <img style="width: 80px;height: 70px" src="{{producto.fotoProducto}}" class="rounded-circle" alt="foto Producto">
              <a style="display: block;" href="/details/{{producto.id}}"> {{producto.nombre}} </a>
          </ng-container>
          </div>

        </div>


    </div>

    <hr>

    <div class="col-xs-12 col-md-10 offset-md-1 ">
        <div>
          <button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Localizarme</button>
        </div>
        <br>
        <div class="row" style="border: 2px groove;border-radius: 5px;">
          <div class="col-md-12" style="margin-top: 8px;">
            <div class="text-center">
              <h3>
                <div #gmap style="width:100%;height:300px"></div>
              </h3>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


