<div class="container" style="padding: 40px">
  <div class="col-md-12" >
    <h1>Bienvenido a {{ title }}!</h1>
    <img class="animated rubberBand" alt="Logo Vuy" src="../assets/imagenes/vuy.png">
    <h2>Compra, vende productos o incluso puja por ellos!</h2>
  </div>


  <div class="col-md-6 offset-md-3" style="padding: 15px">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
          <input class="form-control" type="text" name="Buscar" placeholder="Buscar productos..." [(ngModel)]="searchText">
          <table class="table table-hover" *ngIf="searchText.length!=0" cellspacing="0"  style="background-color: antiquewhite">
            <tbody>
            <ng-container *ngIf="(productos | filtrarTexto: searchText).length > 0; else noResults">
            <tr *ngFor="let producto of productos | filtrarTexto: searchText">
              <td><img [src]="producto.fotoProducto" [alt]="producto.nombre" style="width:50px;height: 40px"  class="img-fluid" ></td>
              <td><a href="/details/{{producto.id}}">{{producto.nombre}}</a></td>
            </tr>
            </ng-container>
            </tbody>
          </table>

          <ng-template #noResults>
            <p style="margin-top: 15px">No se ha encontrado ningún producto.</p>
          </ng-template>
        </div>
  </div>

</div>


