
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel" style="margin-bottom: 100px;">
  <ol class="carousel-indicators" style="margin-left: 309px;">
    <li style="font-size: 15px" data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1" class=""></li>
    <li data-target="#carousel-example-2" data-slide-to="2" class=""></li>
  </ol>

  <div class="carousel-inner centered" style="padding-left:50px;margin-top: 50px;" role="listbox">
    <div class="carousel-item active">
      <div class="view hm-black-light">
        <img class="d-block w-100" src="../assets/imagenes/play.png" alt="First slide">
        <div class="mask waves-effect waves-light"></div>
      </div>
      <div class="carousel-caption">
        <h3>Electrónica</h3>
        <p>Si buscas un iPhone, una tablet, una cámara, una smartv o una Xbox, en Vuy encontrarás al mejor precio.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view hm-black-light">
        <img class="d-block w-100" src="../assets/imagenes/play2.png" alt="Second slide">
        <div class="mask waves-effect waves-light"></div>
      </div>
      <div class="carousel-caption">
        <h3>Informática</h3>
        <p>Si buscas un iPhone, una tablet, una cámara, una smartv o una Xbox, en Vuy encontrarás al mejor precio.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view hm-black-light">
        <img class="d-block w-100" src="../assets/imagenes/play3.png" alt="Third slide">
        <div class="mask waves-effect waves-light"></div>
      </div>
      <div class="carousel-caption">
        <h3>Ropa y moda</h3>
        <p class="black">Encuentra una gran selección de Ropa de mujer y hombre. ¡Compra con confianza y seguridad en Vuy!.</p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
