label{
  font-size: 15px;
}

.foto{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card{
  width: 65%;
}

.mask{
  padding: 50px;
}

@media (max-width: 575.98px) {

  .mask{
    padding: 10px;
  }

  .card{
    width: 100%;
  }
  .enviar{
    font-size: 10px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

  .mask{
    padding: 10px;
  }

  .card{
    width: 100%;
  }
  .enviar{
    font-size: 10px;
  }

}
