<div class="mask rgba-indigo-strong ">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="card animated bounceIn">

        <div class="card-header" style="background-color: #d9edf7;">
          <h2 style="margin: auto;">Editar producto</h2>
        </div>

            <div class="card-body">
              <div class="col-md-6 offset-md-3">
              <form #formModificar="ngForm" (ngSubmit)="onModificarProducto(formModificar)">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre"
              [(ngModel)]="producto.nombre">
                </div>
                <div class="form-group">
                  <label for="fotoProducto">Foto del producto (URL):</label>
                  <input type="text" class="form-control"
                         id="fotoProducto" name="fotoProducto"
                         [(ngModel)]="producto.fotoProducto">
                </div>
                <div class="form-group">
                  <label for="descripcion">Descripción</label>
                  <textarea type="text" class="form-control" id="descripcion" name="descripcion"
                  [(ngModel)]="producto.descripcion"></textarea>
                </div>
                <div class="form-group">
                  <label for="categoria">Categoría</label>
                  <select name="categoria" id="categoria" class="form-control" [(ngModel)]="producto.categoria">
                    <option selected>Móvil</option>
                    <option>Videoconsola</option>
                    <option>Ordenador</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="ciudad">Ciudad</label>
                  <select name="ciudad" id="ciudad"
                          class="form-control"
                          [(ngModel)]="producto.ciudad">
                    <option>Alicante</option>
                    <option>Elche</option>
                    <option>San Juan</option>
                    <option>Benidorm</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="numTlf">Nº Teléfono:</label>
                  <input type="number" class="form-control"
                         id="numTlf" name="numTlf"
                         [(ngModel)]="producto.numTlf">
                </div>

                <div class="form-group">
                  <label for="precio">Precio (€):</label>
                  <input type="number" class="form-control"
                         id="precio" name="precio"
                         [(ngModel)]="producto.precio">
                </div>

            <input type="submit" value="Modificar" class="btn btn-primary btn-block">
            </form>
        </div>
      </div>
    </div>
    </div>
    </div>
</div>

