<section class="container" style="margin-bottom: 100px;">
    <div class="section">
        <div class="columns is-gapless">
            <div class="column is-12">
                <a class="button is-inverted is-primary" (click)="navigateBack()">
                    <span class="icon">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </span>
                    <span>Atras</span>
                </a>
                <a class="button is-inverted is-primary" *ngIf="isAuthor || isAdmin" (click)="editOffer()">
                    <span class="icon">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                    <span>Editar</span>
                </a>
                <a class="button is-inverted is-danger" *ngIf="isAuthor || isAdmin" (click)="deleteOffer()">
                    <span class="icon">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                    <span>Borrar</span>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="columns is-marginless">
                <div class="column is-one-quarter-desktop is-one-third-tablet">
                    <figure class="image is-square">
                        <img [src]="productData?.photo" alt="Product picture">
                    </figure>
                </div>
                <div class="column">
                    <p class="title" [innerHTML]="productData?.name"></p>
                    <p class="subtitle" [innerHTML]="'Categoría: '+productData?.category"></p>
                    <div class="content">
                        {{productData?.desc}}
                        <br>
                        <strong class="is-size-7"><span>Precio base:</span>
                          {{productData?.base_price}}<i class="fa fa-eur" aria-hidden="true"></i></strong>
                        <br>
                        <strong class="is-size-7"><span>Incremento Mínimo :
                        </span>{{productData?.increment}}<i class="fa fa-eur" aria-hidden="true"></i></strong>
                        <br>
                        <strong class="is-size-7"><span>Producto a pujar de:
                        </span>{{productData?.author_name}}</strong>

                        <p class="is-size-7" [innerHTML]="'Publicación: '+(productData?.createdAt | date)"></p>
                    </div>

                  <div class="bid-section" *ngIf="!isLogin">
                    <div class="columns is-marginless is-vcentered is-centered">
                      <div class="column is-6">
                        <button routerLink="/login" routerLinkActive="active"
                                type="button" class="btn btn-primary">
                          Iniciar sesión para pujar
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="bid-section" *ngIf="!isAuthor && isLogin">
                        <div class="columns is-marginless is-vcentered is-centered">
                            <div class="column is-6">
                                <p class="heading is-size-5 has-text-centered">
                                    <strong *ngIf="!productData?.curr_val">Hacer primera puja</strong>
                                    <strong *ngIf="productData?.curr_val">Actual puja:
                                      {{productData?.curr_val +'  '}}<i class="fa fa-eur" aria-hidden="true"></i></strong>
                                </p>
                            </div>
                            <div class="column is-6">
                                <a class="button is-primary is-large bid-button" (click)="bidNow()" *ngIf="!isBidding">
                                    <span class="icon"><i class="fa fa-gavel" aria-hidden="true"></i></span>
                                    <span>PUJAR</span>
                                </a>
                                <div class="field has-addons" *ngIf="isBidding">
                                    <p class="control">
                                        <span class="select">
                                            <select>
                                              <option>€</option>
                                            </select>
                                          </span>
                                    </p>
                                    <p class="control">
                                        <input class="input" type="number" placeholder="Hacer apuesta" #bid>
                                    </p>
                                    <p class="control">
                                        <a class="button is-primary" (click)="bidNow(bid.value)">
                                            <span class="icon">
                                                <i class="fa fa-gavel" aria-hidden="true"></i>
                                            </span>
                                            <span>Pujar</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-marginless" *ngIf="showMessage">
                            <div class="column is-12">
                                <article class="message is-danger" style="font-weight: bold;" *ngIf="showMessage">
                                  <div class="message-body is-size-7" [innerHTML]="message">
                                  </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
