<div class="mask rgba-indigo-strong" style="padding: 50px;">

  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="card animated fadeInRight">
        <div class="card-header" style="background-color: #d9edf7;">
          Login
        </div>
        <div class="card-body">

          <div class="col-md-6 offset-md-3">
            <h1 class="text-xs-center"><span class="ion-ios-people" style="font-size: 40px;"></span>  Iniciar Sesión</h1>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">

              <div class="form-group">
                <label for="email"><strong>Email:</strong></label>

                <input type="text" formControlName="email" name="email" id="email" class="form-control" placeholder="Escriba email..."  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="alert alert-danger">
                  <div *ngIf="f.email.errors.required">Email es requerido</div>
                  <div *ngIf="f.email.errors.email">El email debe ser válido</div>
                </div>

              </div>

              <div class="form-group">
                <label for="password"><strong>Contraseña:</strong></label>

                <input type="password" formControlName="password" name="password" id="password" placeholder="Escriba Contraseña..."  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="alert alert-danger">
                  <div *ngIf="f.password.errors.required">Contraseña requerida</div>
                </div>

              </div>

              <input type="submit" value="ENVIAR" class="enviar btn btn-primary btn-block btn-lg">
            </form>

          </div>

          <p class="text-center" style="margin-top: 25px;">
            Acceder a través de redes sociales:
          </p>
          <div class="redes card-body d-flex justify-content-around" style="margin-top: -17px;">
            <button class="btn btn-facebook" (click)="onClickFacebookLogin()" ><i class="fa fa-facebook"></i> Facebook</button>
            <button class="btn btn-google" (click)="onClickGoogleLogin()" ><i class="fa fa-google-plus" aria-hidden="true"></i> Google</button>
            <button class="btn btn-twitter" (click)="onClickTwitterLogin()" ><i class="fa fa-twitter"></i> Twitter</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
