<div class="mask rgba-indigo-strong " style="padding: 50px;">
  <div class="message is-danger" style="font-weight: bold;" *ngIf="showMessage">
    <div class="message-body is-size-7 " [innerHTML]="message">
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-center">

      <div class="card animated bounceIn">

        <div class="card-header" style="background-color: #d9edf7;">
          <h2 style="margin: auto;">Subir producto a puja</h2>
        </div>

        <div class="card-body" >
          <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="nombre">Nombre del producto</label>
                <div class="control">
                  <input class="input" type="text" id="nombre" required #name>
                </div>
              </div>

              <div class="form-group">
                <label for="imagen">Imagen del producto</label>
                <input class="input" type="text" id="imagen" required #imagen>
              </div>

              <div class="form-group">
                <label for="cat">Categoría</label>
                <div class="control">
                  <div class="select">
                    <select id="cat" #category>
                      <option>Movil</option>
                      <option>Ordenador</option>
                      <option>Videoconsola</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="price">Precio base</label>
                <div class="field  has-addons">
                  <p class="control">
                    <span class="select">
                        <select id="price">
                          <option>€</option>
                          <option>$</option>
                          <option>£</option>
                        </select>
                     </span>
                  </p>
                  <p class="form-group">
                    <input class="input" type="number"  required #base>
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label for="inc">Incremento mínimo</label>
                <div class="control">
                  <input class="input" type="number" id="inc" required #increment>
                </div>
              </div>
              <div class="form-group">
                <label for="desc">Descripción</label>
                <div class="control">
                  <textarea class="textarea" id="desc" placeholder="Escriba Descripcion..." required #desc></textarea>
                </div>
              </div>

              <div class="form-group">
                <label for="last">Finalización de la subasta</label>
                <div class="control">
                  <input class="input" type="date" id="last" required #endTime>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button class="button bd-tw-button" (click)="addProduct(name.value, imagen.value,category.value, base.value,
                  increment.value,desc.value, endTime.value)">
                    {{editMode ? 'Actualizar' : 'Enviar'}}</button>
                </div>
                <div class="control">
                  <button class="button is-text" (click)="formCancel()">Cancelar</button>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
  </div>
</div>



