label{
  font-size: 15px;
  font-weight: bold;
}

.card{
  width: 65%;
}


.mask{
  padding: 50px;
}

@media (max-width: 576px) {

  .mask{
    padding: 10px;
  }

  .card{
    width: 100%;
  }

}

@media (min-width: 576px) and (max-width: 768px) {
  .mask{
    padding: 10px;
  }

  .card{
    width: 100%;
  }


}


